## Corrections

In [71]:
import pandas as pd
import numpy as np
import seaborn as sns

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [72]:
items = pd.read_csv("data/items.csv")
items_categories = pd.read_csv("data/item_categories.csv")
sales_train = pd.read_csv("data/sales_train.csv")
shops = pd.read_csv("data/shops.csv")

In [73]:
shops[(shops["shop_id"] == 0) | (shops["shop_id"] == 57)]

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
57        Якутск Орджоникидзе, 56       57

In [74]:
#shops.loc[shops.shop_id == 0, "shop_id"] = 57
shops[shops["shop_id"] == 0]

                       shop_name  shop_id
0  !Якутск Орджоникидзе, 56 фран        0

In [75]:
shops[(shops["shop_id"] == 1) | (shops["shop_id"] == 58)]

                        shop_name  shop_id
1   !Якутск ТЦ "Центральный" фран        1
58        Якутск ТЦ "Центральный"       58

In [76]:
#shops.loc[shops.shop_id == 1, "shop_id"] = 58
shops[shops["shop_id"] == 1]

                       shop_name  shop_id
1  !Якутск ТЦ "Центральный" фран        1

In [77]:
#shops[(shops["shop_id"] == 10) | (shops["shop_id"] == 11)]

In [78]:
#shops.loc[shops.shop_id == 10, "shop_id"] = 11
shops[shops["shop_id"] == 1]

                       shop_name  shop_id
1  !Якутск ТЦ "Центральный" фран        1

In [79]:
sales_train.loc[sales_train.shop_id == 0, "shop_id"] = 57
sales_train.loc[sales_train.shop_id == 1, "shop_id"] = 58
sales_train.loc[sales_train.shop_id == 10, "shop_id"] = 11
sales_train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [80]:
shops["shop_city"] = shops["shop_name"].apply(lambda x: x.split()[0])
shops.loc[shops.shop_city == '!Якутск', 'shop_city'] = 'Якутск'
shops.head()

                        shop_name  shop_id shop_city
0   !Якутск Орджоникидзе, 56 фран        0    Якутск
1   !Якутск ТЦ "Центральный" фран        1    Якутск
2                Адыгея ТЦ "Мега"        2    Адыгея
3  Балашиха ТРК "Октябрь-Киномир"        3  Балашиха
4        Волжский ТЦ "Волга Молл"        4  Волжский

In [81]:
items_categories["item_category_type"] = items_categories["item_category_name"].map(lambda x: x.split()[0])
items_categories["item_category_subtype"] = items_categories["item_category_name"].map(lambda x: x.split("-")[1].strip()  if "-" in x else x.split("-")[0].strip())

items_categories.head()

        item_category_name  item_category_id item_category_type item_category_subtype
0  PC - Гарнитуры/Наушники                 0                 PC    Гарнитуры/Наушники
1         Аксессуары - PS2                 1         Аксессуары                   PS2
2         Аксессуары - PS3                 2         Аксессуары                   PS3
3         Аксессуары - PS4                 3         Аксессуары                   PS4
4         Аксессуары - PSP                 4         Аксессуары                   PSP

In [82]:
shops.to_csv("cleaned_data/shops.csv", index=False)
sales_train.to_csv("cleaned_data/sales_train.csv", index=False)
items_categories.to_csv("cleaned_data/item_categories.csv", index=False)