In [1]:
import pandas as pd

In [2]:
items = pd.read_csv("data/items.csv")
items_categories = pd.read_csv("data/item_categories.csv")
sales_train = pd.read_csv("data/sales_train.csv")
shops = pd.read_csv("data/shops.csv")

In [3]:
items_id = items[["item_id"]]

In [4]:
sales_train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [5]:
sales_train["date_block_num"].max()

33

In [8]:
sales_train = sales_train[sales_train["item_cnt_day"] > 0]
items_ids_with_sales_in_last_6_months = sales_train[sales_train["date_block_num"] >= 27]["item_id"]
items_ids_with_sales_in_last_6_months.head()

2553730    12020
2553731     2734
2553732     2470
2553733     2698
2553734     2698
Name: item_id, dtype: int64

In [9]:
items_ids_with_sales_in_last_6_months.drop_duplicates(inplace=True)
print(len(items_ids_with_sales_in_last_6_months))
items_ids_with_sales_in_last_6_months = list(items_ids_with_sales_in_last_6_months)

9415

In [10]:
items_id["sales_last_6_months"] = items_id["item_id"].apply(lambda x: 1 if x in items_ids_with_sales_in_last_6_months else 0)
items_id.head()

/home/urielkelman/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   item_id  sales_last_6_months
0        0                    0
1        1                    0
2        2                    0
3        3                    0
4        4                    0

In [11]:
items_id["sales_last_6_months"].value_counts()

0    12755
1     9415
Name: sales_last_6_months, dtype: int64

In [12]:
items_id.to_csv("generated/arbritrary/sales_last_6_months.csv", index=False)

In [13]:
test=pd.read_csv("data/test.csv")

In [14]:
a = test[~test["item_id"].isin(items_ids_with_sales_in_last_6_months)]
a.head()

    ID  shop_id  item_id
1    1        5     5320
4    4        5     5268
45  45        5     5826
64  64        5     3538
65  65        5     3571

In [15]:
len(a)

22134

In [16]:
len(a.drop_duplicates(subset=["item_id"]))

527

In [17]:
len(test)

214200